{{ if .Site.Data.statement.enable }}
{{"<!-- Start statement -->" | safeHTML}}
<section id="mission" class="testimonial overly section bg-2" style='background-image: url("{{ .Site.Data.testimonial.bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{ .Site.Data.statement.heading}} <span class="color">{{ .Site.Data.statement.headingSpan}}</span> </h2>
                    <div class="border-meghna"></div>
                </div>
                {{"<!-- statement wrapper -->" | safeHTML}}
                <div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    {{ range .Site.Data.statement.testimonialItem }}
                    {{"<!-- statement single -->" | safeHTML}}
                    <div class="item text-center">

                        {{"<!-- client photo -->" | safeHTML}}
                        <div class="client-thumb">
                            <img src="{{ .image | absURL }}" class="img-fluid" alt="Meghna">
                        </div>

                        {{"<!-- client info -->" | safeHTML}}
                        <div class="client-info">
                            <div class="client-meta">
                                <h3>{{ .name }}</h3>
                                <span>{{ .date }}</span>
                            </div>
                            <div class="client-comment">
                                <p>{{ .content }}</p>
                            </div>
                        </div>
                    </div>
                    {{"<!-- /statement single -->" | safeHTML}}
                    {{ end }}
                    </div>
                </div>
            </div>
</section>
{{"<!-- /statement -->" | safeHTML}}
{{ end }}