{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block">
        {{with .Site.Params.banner.heading}} <h1>{{ . }}</h1>{{ end }}
        <p>{{- range .Site.Params.banner.content -}} <span class="landing-items">{{ . | safeHTML }}</span>{{- end -}}
        </p>
        {{ if .Site.Params.banner.btn}}
        <a id="intro-cta" href="#{{ .Site.Params.banner.btnURL}}"
            class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}