{{ if .Site.Data.mission.enable }}
<section id="mission" class="testimonial overly section bg-2"
    style='background-image: url("{{ .Site.Data.mission.bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title text-center">
                    <h2>{{ .Site.Data.mission.heading}} <span class="color">{{ .Site.Data.mission.headingSpan}}</span>
                    </h2>
                    <div class="border-meghna"></div>
                </div>
                <div id="testimonials">
                    {{ range .Site.Data.mission.missionItem }}
                    <div class="item text-center">
                        <div class="author-thumb">
                            <img src="{{ .image | absURL }}" class="img-fluid" alt="Meghna">
                        </div>
                        <div class="author-info">
                            <div class="author-meta">
                                <h3>{{ .name | safeHTML }}</h3>
                                <span>{{ .date }}</span>
                            </div>
                            <div class="author-comment">
                                <p>{{ .content }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}