body {
    min-width: 300px;
}

.tf-ion-key {
    transform: rotate(270deg)!important;
}

.client-thumb .img-fluid {
    max-width: 150px!important;
}

.portfolio-block::before {
    background-color: #707070!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* opacity: 0.9; */
    visibility: hidden;
}

.portfolio-block:hover::before {
    visibility: visible;
    opacity: 0.9;
}

.caption {
    left: inherit!important;
    transform: translate(0,-50%)!important;
}
.caption h4 {
    color: #57cbcc;
}

.caption h4::before {
    color: #57cbcc;
    content: "«"
}

.caption h4::after {
    color: #57cbcc;
    content: "»"
}

.caption h5 {
    color: #ffffff;
    font-weight: 700;
}

.caption p {
    color: white;
    padding: 1em;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: quattrocento sans, sans-serif;
}
