{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "hero-area.html" . }}

    {{ partial "philosophy.html" . }}

    {{ partial "statement.html" . }}

    {{ partial "portfolio.html" . }}

    {{ partial "service.html" . }}

    {{ partial "cta.html" . }}

    <!-- {{ partial "skill.html" . }} -->

    <!-- {{ partial "counter.html" . }} -->

    <!-- {{ partial "team.html" . }} -->

    <!-- {{ partial "pricing.html" . }} -->

    <!-- {{ partial "blog.html" . }} -->

    <!-- {{ partial "contact.html" . }} -->

{{ end }}